{% extends 'nurse_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Nurse Report</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      {% for d in nurses %}
      <tr>

        <td> {{d.user}}</td>
        <td><a href="{% url 'admin-nurse-reprot' d.user_id  %}"><button style="float: right">View</button><i class="bi bi-arrow-up-circle-fill"></i></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
