{% load widget_tweaks %}
<!DOCTYPE html>
<style>
    #map {
        height: 100%;
        width: 50%;
        border-radius: 25px;
        text-align: center;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 2%;
        align-items: center;
        justify-content: center;
        padding: 300px;
        background-color: white;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }
</style>
<html>

<head>
    <br>
    <br>
    <title>Travel Modes in Directions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        klk="superpharm beersheva"
        function initMap() {
            const directionsRenderer = new google.maps.DirectionsRenderer();
            const directionsService = new google.maps.DirectionsService();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: {lat: 37.77, lng: -122.447},
            });

            directionsRenderer.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsRenderer);
            document.getElementById("mode").addEventListener("change", () => {
                calculateAndDisplayRoute(directionsService, directionsRenderer);
            });
        }

        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            directionsService
                .route({
                    origin: myLatLng,
                    destination: document.getElementById("lat").value,
                    travelMode: google.maps.TravelMode[selectedMode],
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })
                .catch((e) => window.alert("Directions request failed due to " + status));
        }

        function initMap() {
            const directionsRenderer = new google.maps.DirectionsRenderer();
            const directionsService = new google.maps.DirectionsService();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: {lat: 37.77, lng: -122.447},
            });

            directionsRenderer.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsRenderer);
            document.getElementById("mode").addEventListener("change", () => {
                calculateAndDisplayRoute(directionsService, directionsRenderer);
            });
        }

        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            var lng;
            var x;
            var lat;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    x = String(position.coords.latitude) + "," + String(position.coords.longitude)
                    console.log(pos);
                    const selectedMode = document.getElementById("mode").value;
                    console.log(lat);
                    console.log(lng);
                    console.log(x);
                    directionsService
                        .route({
                            origin: x,
                            destination:document.getElementById("lat").value,
                            travelMode: google.maps.TravelMode[selectedMode],
                        })
                        .then((response) => {
                            directionsRenderer.setDirections(response);
                        })
                        .catch((e) => window.alert("Directions request failed due to " + status));
                })
            }
        }

        function reload() {
          initMap()
        }

        window.initMap = initMap;

    </script>
</head>
<body>
<label style="color:#0037ff;font-size:25px;" for="destination">destination: </label>
<input type="text" name="lat" id="lat" value="superpharm beersheva" required>
<input type="submit" value="Update" onclick="reload()">
<li tabindex="0" class="icon-dashboard"> <a style="float:right; text-decoration:none;" href="home"><span>Main Page</span></a> </li>
<div id="floating-panel">
    <b>Mode of Travel: </b>
    <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
    </select>
</div>
<div id="map"></div>

<input type="text" name="" id="dest" value="">
<form class="" action="index.html" method="post">

</form>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsUJ0P3eueaI2IdbInU6P4I6amqPyYHUI&callback=initMap&v=weekly"
        async
></script>
</body>
</html>
